[defaults]
inventory = ./inventory/proxmox.yml
roles_path = ./roles
host_key_checking = False
deprecation_warnings = False
nocows = True
remote_user = nekoneki
private_key_file = ~/.ssh/id_ed25519_proxmox-vm

[inventory]
enable_plugins = community.proxmox.proxmox, host_list, script, auto, yaml, ini
